@using SpendeeClient.Components
@using SpendeeClient.Models;
@inherits LayoutComponentBase

@inject UserState UserState
@inject NavigationManager NavigationManager

<div class="page">

    @if (UserState.IsAuthenticated)
    {
        <div class="navbar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
}